<head>
<link rel="stylesheet" href="/Style.css">
</head>

<body>
<ul class="top-navbar">
    <li><a href="/Index">Home</a></li>
    <li><a href="/Job/Index">Jobs</a></li>
    <li><a href="/Candidate/Index">Candidates</a></li>
    <li><a href="/Interview/Index">Interviews</a></li>
</ul><br>
</body>